html{
    font-size: 62.5%;
}

header{
    font-family: 'Press Start 2P', cursive;
    background-color: aquamarine;
    line-height: 4.4rem;
}
    header h1{
        font-size: 4.2rem;
    }
    header a{
        font-size: 3rem;
        text-decoration: none;
    }
    header li{
        list-style: none;
    }

footer{
    font-family: 'Press Start 2P', cursive;
    background-color: aquamarine;
    line-height: 4.4rem;
}
    footer a{
        font-size: 3rem;
        text-decoration: none;
    }